<?xml version="1.0"?>
<robot name="ureca_penetration_failure_3d"
       xmlns:tesseract="http://tesseract-robotics.github.io/tesseract"
       tesseract:make_convex="true">

  <link name="base_link"/>
  <joint name="joint_x" type="prismatic">
    <parent link="base_link"/><child link="x_link"/><origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="1 0 0"/>
    <limit lower="-10.0" upper="10.0" effort="100" velocity="10"/>
  </joint>
  <link name="x_link"/>
  <joint name="joint_y" type="prismatic">
    <parent link="x_link"/><child link="y_link"/><origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="0 1 0"/>
    <limit lower="-10.0" upper="10.0" effort="100" velocity="10"/>
  </joint>
  <link name="y_link"/>
  <joint name="joint_z" type="prismatic">
    <parent link="y_link"/><child link="robot_body"/><origin xyz="0 0 0" rpy="0 0 0"/><axis xyz="0 0 1"/>
    <limit lower="-2.0" upper="2.0" effort="100" velocity="10"/>
  </joint>
  <link name="robot_body">
    <collision><geometry><sphere radius="0.10"/></geometry></collision>
    <visual><geometry><sphere radius="0.10"/></geometry></visual>
  </link>
  <joint name="obstacle_joint" type="fixed">
    <parent link="base_link"/><child link="obstacle_link"/><origin xyz="0.5 0.6 0.0" rpy="0 0 0"/>
  </joint>
  <link name="obstacle_link">
    <collision><geometry><sphere radius="0.20"/></geometry></collision>
    <visual><geometry><sphere radius="0.20"/></geometry></visual>
  </link>
</robot>
